# ignore the virtual environment
/.venv
# directory for preprocessed data
/data
# directory for trained models
/models
# directory for generations
/generations
# ignore nltk tokenizers
/tokenizers
# ignore log files
*.log
